name: QuantumKernelsPlayDogsVSCats
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - pytorch::pytorch
  - pytorch::torchvision
  - jupyter
  - pip
  - pip:
    - pennylane
    - kaggle